<!DOCTYPE html>
<html data-ng-app="quiz">
<head>
	<meta http-equiv="src-Type" src="text/html; charset=utf-8" />
	<meta name="viewport" src="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" src="yes">
	<title>Flashcards!</title>
	<link href="src/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
	<link rel="apple-touch-icon" href="src/images/deerWhite_64x64.png">
	<link href="dist/css/bundle.css" rel="stylesheet" />
</head>
<body data-ng-controller="QuestionController as qstCtrl">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container overview">
			<div class="navbar-header">
				<button type="button" id="toggleMenuButton" class="navbar-toggle collapsed" data-toggle="collapse" data-ng-click="toggleCollapsed($event)" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<a class="navbar-brand" data-ng-click="showLandingPage()" href="#">Jaktskolan</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#" data-ng-click="enableQuiz()">Självtest</a></li>
					<li><a href="#" data-ng-click="enableLightningQuestions()">Snabba frågor</a></li>
					<li><a href="#" data-ng-click="enableSubmitQuestions()">Bidra med frågor</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container clearNav ng-cloak">
		<landingpage data-ng-show="isLandingPageActive"></landingpage>
		<quiz data-ng-show="isQuizEnabled || lightningQuestionsEnabled"></quiz>
		<submitquestion data-ng-show="isSubmitQuestionsEnabled"></submitquestion>
	</div>

	<script type="text/javascript" src="dist/js/bundle.js"> </script>
</body>
</html>