<div class="landingPage content">
	<div class="row" >
		<div class="col-md-6">
			<div class="panel panel-warning clickable" data-ng-click="enableLightningQuestions()">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<span class="glyphicon glyphicon-flash huge" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 text-right">
							<h4>Snabba frågor</h4>
							<h5>Få svar direkt, frågorna tar aldrig slut</h5>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-warning">
						<div class="col-xs-10">
							Starta frågorna!
						</div>
						<div class="col-xs-2 text-right">
							<span class="glyphicon glyphicon-circle-arrow-right success" aria-hidden="true"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-success clickable" data-ng-click="restartQuiz()">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<span class="glyphicon glyphicon-list-alt huge" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 text-right">
							<h4>Självtest</h4>
							<h5>Svara på 70 frågor, se sen om du klarade testet</h5>
						</div>
					</div>
				</div>
				<div class="panel-footer" >
					<div class="row text-success">
						<div class="col-xs-10">
							Gör testet!
						</div>
						<div class="col-xs-2 text-right">
							<span class="glyphicon glyphicon-circle-arrow-right success" aria-hidden="true"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-6">
			<div class="panel panel-danger clickable" data-ng-click="enableSubmitQuestions()">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<span class="glyphicon glyphicon-pencil huge" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 text-right">
							<h4>Bidra</h4>
							<h5>Skriv egna frågor</h5>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-danger">
						<div class="col-xs-10">
							Skriv frågor!
						</div>
						<div class="col-xs-2 text-right">
							<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>