body{
	background-color: #F5F5F5;
}

.customerName{
	font-size: 18px;
}

.btn {
	white-space: normal;
}

.ng-cloak{
	display: none !important;
}

.clearNav{
	padding-top: 50px;
}

.quizFinished{
	padding-bottom:30px;
}

.content{
	margin-top: 10px;
}

.huge{
	font-size: 70px;
}

.clickable{
	cursor: pointer;
}

.panel-footer{
	background-color:#FFFFFF;
}

.navbar-toggle {
	border: none;
	background: transparent !important;
}

.navbar-toggle:hover {
	background: transparent !important;
}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all 0.2s;
}
.navbar-toggle .top-bar {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	-webkit-transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}

.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	-webkit-transform-origin: 10% 90%;
}


.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
}
